.team-list {
    display: flex;
    gap: 80px;

    list-style: none;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1440px) {
    .team-list {
        gap: 28px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .team-list::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .team-list {
        margin-bottom: 30px;

        overflow: hidden;

        flex-direction: column;
        align-items: center;
    }
}