.promo {
    padding: 60px 0 80px 160px;

    background: url("~../../../images/bg-header-tablet.svg") no-repeat;
    background-position: right top 60px;

    display: flex;
    flex-direction: column;

    &__sticker {
        margin-bottom: 70px;
    }

    &__title {
        margin: 0;
        margin-bottom: 40px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 182px;
    }
}

@media screen and (max-width: 1440px) {
    .promo {
        padding: 60px 0 50px 50px;

        background-position: right bottom 50px;

        &__subtitle {
            margin-bottom: 212px;
        }
    }
}

@media screen and (max-width: 768px) {
    .promo {
        padding: 50px 20px 20px 20px;

        background: url("~../../../images/bg-header-mobile.svg") no-repeat;
        background-position: right 20px top 50px;

        &__sticker {
            margin-bottom: 60px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 200px;
        }
    }
}