@use 'variables' as v;

.team {
    padding: 80px 160px 80px 160px;

    background-color: v.$purple;

    display: flex;
    flex-direction: column;

    &__title {
        margin: 0;
        margin-bottom: 40px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 1440px) {
    .team {
        padding: 50px 0 50px 50px;

        &__subtitle {
            margin-bottom: 140px;
        }
    }
}

@media screen and (max-width: 768px) {
    .team {
        padding: 20px 20px 40px 20px;

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 60px;
        }
    }
}