@use 'variables' as v;

.team {
    padding: 80px 160px 80px 160px;

    background-color: v.$purple;

    &__title {
        margin: 0;
        margin-bottom: 40px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 1440px) {
    .team {
        padding: 50px 0 50px 50px;

        &__subtitle {
            margin-bottom: 140px;
        }
    }
}