@use '../../../scss/mixins/links' as m;

.registration__link {
    @include m.links;

    display: flex;
    justify-content: space-between;
    gap: 22px;

    max-width: 152px;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
}

@media screen and (max-width: 1440px) {
    .registration__link {
        max-width: 135px;

        gap: 20px;

        font-size: 13px;
    }
}