@use '../../scss/variables' as v;

.registration {
    font-size: v.$font-size-buttons;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 1440px) {
    .registration {
        gap: 30px;
    }
}