@use 'variables' as v;

.invite {
    background-color: v.$purple;
    background-image: url("~../../../images/bg-invite-left.svg"), url("~../../../images/bg-invite-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left center, left 220px center;
    background-size: auto, 440px 440px;

    padding: 0 160px 0 0;
    min-height: 560px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &__title {
        margin: 0;
    }
}

@media screen and (max-width: 1440px) {
    .invite {
        padding: 0 50px 0 0;

        min-height: 460px;

        background-image: url("~../../../images/bg-invite-tablet.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto;
    }
}

@media screen and (max-width: 768px) {
    .invite {
        padding: 20px 20px 0 20px;

        min-height: 320px;

        justify-content: flex-start;
        align-items: flex-start;

        background-image: url("~../../../images/bg-invite-mobile.svg");
        background-position: bottom;
    }
}