.header {
    padding: 26px 160px 0 160px;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1440px){
    .header {
        padding: 26px 50px 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 16px 20px 0 20px;
    }
}