.features {
    padding: 80px 160px 80px 160px;

    background: url("~../../../images/bg-features-desktop.svg") no-repeat;
    background-position: bottom left 100px;

    display: flex;
    flex-direction: column;

    &__title {
        margin: 0;
        margin-bottom: 40px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 110px;
    }

    &__gallery {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 1440px) {
    .features {
        padding: 50px 50px 80px 50px;

        background: url("~../../../images/bg-features-tablet.svg") no-repeat;
        background-position: bottom left;

        &__subtitle {
            margin-bottom: 140px;
        }

        &__gallery {
            margin-bottom: 140px;
        }
    }
}

@media screen and (max-width: 768px) {
    .features {
        padding: 20px 20px 20px 20px;

        background-image: none;

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 60px;
        }

        &__gallery {
            margin-bottom: 30px;
        }

        .breadcrumbs {
            margin-bottom: 60px;
        }
    }
}