.team__item {
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .team__item {
        display: none;
        gap: 20px;

        width: 280px;
    }
}